body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F05F44;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F44;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f44;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 2rem;
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 1.6rem;
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.3rem;
  }
}

.bg-primary {
  background-color: #F05F44 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

@media (max-width: 767px) {
  section {
    padding: 2rem 0;
  }
}

.social-section {
  padding: 3.5rem 0;
}

#about {
  z-index: 2;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.8);
  background-color: #fff;
  padding: .5rem;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
  color: #F05F44;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05e43;
}

#mainNav .navbar-brand img {
  width: 25px;
  margin: 0 5px;
  position: relative;
  top: -4px;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .92rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  color: #495057;
}

@media (max-width: 767px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    padding: 1.7rem .2rem;
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F44;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F44 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:before,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  display: block;
  background-color: #F05F44;
  width: 15px;
  z-index: 1;
  height: 2px;
}

@media (max-width: 767px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:before,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:before {
    left: calc(50% - 7.5px);
  }
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fafafa;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #495057;
  }
  #mainNav.navbar-shrink .navbar-brand img {
    transition: transform .5s;
    transform: rotate(360deg);
    margin: 0 5px;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F44;
  }
}

.navbar-light .navbar-toggler {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: .2rem .6rem;
}

header.masthead {
  position: relative;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #212529;
  background-image: url("../img/hero.jpg");
  background-position: center 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@supports (background-image: -webkit-image-set(url("../img/hero.jpg") 1x)) {
  header.masthead {
    background-image: -webkit-image-set(url("../img/hero.webp") 1x);
  }
}

@media (max-width: 767px) {
  header.masthead {
    background-position: 0 center;
    background-image: url("../img/hero-mob.jpg");
  }
  @supports (background-image: -webkit-image-set(url("../img/hero-mob.jpg") 1x)) {
    header.masthead {
      background-image: -webkit-image-set(url("../img/hero-mob.webp") 1x);
    }
  }
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
  font-weight: 400;
}

header.masthead h1 img {
  width: 30px;
  padding-bottom: 50px;
  margin-left: -10px;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

header.masthead .list-group {
  padding-top: 70px;
  font-size: 1.11em;
  position: relative;
  letter-spacing: .5px;
}

@media (max-width: 767px) {
  header.masthead .list-group {
    font-size: 1rem;
    padding-top: 30px;
  }
}

header.masthead .list-group li {
  padding-left: 20px;
  line-height: 1.55;
  position: relative;
  margin-right: 0;
  margin-bottom: .2rem;
}

@media (max-width: 767px) {
  header.masthead .list-group li {
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    margin-right: auto;
    font-weight: bold;
  }
}

header.masthead .list-group li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #F05F44;
  width: 15px;
  z-index: 1;
  height: 2px;
}

@media (max-width: 767px) {
  header.masthead .list-group li:before {
    display: none;
  }
}

.loader-anim {
  text-align: right;
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 3.2rem;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .loader-anim {
    font-size: 2.3rem;
    text-align: left;
  }
}

.loader-anim span {
  display: inline-block;
  animation: pulse 1.5s alternate infinite ease-in-out;
}

@media (max-width: 767px) {
  .loader-anim span {
    display: none;
  }
}

.loader-anim span:nth-child(3) {
  animation-delay: 1.5s;
}

.loader-anim strong {
  color: #fff;
  font-size: 3rem;
  padding: 20px;
}

@media (max-width: 767px) {
  .loader-anim strong {
    font-size: 2.3rem;
    text-align: center;
    padding: 0;
  }
}

@keyframes pulse {
  to {
    transform: scale(0.7);
    opacity: 0.3;
  }
}

#mainNav .navbar-brand {
  font-style: normal;
  letter-spacing: 1px;
}

#about {
  position: relative;
}

#about strong {
  letter-spacing: 1px;
}

#about p a {
  color: #fff;
  text-decoration: underline;
}

#particles-js {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.tech-icons {
  display: flex;
}

.tech-icons img {
  width: 2.2rem;
  max-height: 2.2rem;
  height: auto;
  margin-right: 1rem;
  background-color: #e9ecef;
  padding: 5px;
  border-radius: 50%;
}

#character {
  background-image: url("../img/coder.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
}

@supports (background-image: -webkit-image-set(url("../img/coder.jpg") 1x)) {
  #character {
    background-image: -webkit-image-set(url("../img/coder.webp") 1x);
  }
}

@media (min-width: 768px) {
  #character {
    background-attachment: fixed;
  }
}

.character-list {
  list-style: none;
}

.character-list li {
  padding: .5rem;
}

.character-list li span:nth-of-type(1) {
  display: inline-block;
  font-size: 1.8rem;
  border: 4px solid #F05F44;
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
}

.service-box {
  max-width: 400px;
}

.social-link:hover {
  color: white;
}

.project-link {
  text-decoration: none;
  padding: .8rem;
  display: flex;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  border: 2px solid #F05F44;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  font-size: .8rem;
  right: 1%;
  z-index: 1000;
}

.project-link:hover {
  text-decoration: none;
}

.project-link i {
  display: block;
}

.mfp-content {
  max-width: 650px;
  max-height: 100%;
}

img.mfp-img {
  max-height: 100% !important;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

#portfolio {
  background-color: #fafafc;
}

.portfolio-box {
  border: 2px solid #F05F44;
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  max-height: 300px;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 68, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 767px) {
  .portfolio-box .portfolio-box-caption {
    opacity: 1;
  }
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
  transition: all .5s;
  z-index: 100;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #F05F44 !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  border-color: #F05F44;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  border: 4px solid #fff;
  color: #fff;
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: .85rem 2rem;
}

.btn-primary {
  background-color: transparent;
  border-color: #F05F44;
  color: #F05F44;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  border-color: #F05F44;
  background-color: #ee4b2c !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
