// Styling for the masthead
header.masthead {
  position: relative;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #212529;
  background-image: url('../img/hero.jpg');
  @supports (background-image: -webkit-image-set(url('../img/hero.jpg') 1x)) {
    background-image: -webkit-image-set(url('../img/hero.webp') 1x)
  }
  background-position: center 5%;
  @include background-cover;
  @media (max-width: 767px) {
      background-position: 0 center;
      background-image: url('../img/hero-mob.jpg');
      @supports (background-image: -webkit-image-set(url('../img/hero-mob.jpg') 1x)) {
        background-image: -webkit-image-set(url('../img/hero-mob.webp') 1x) 
      }
  }
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
    font-weight: 400;
    img{
      width: 30px;
      padding-bottom: 50px;
      margin-left: -10px;
    }
  }
  p {
    font-weight: 300;
  }
  @media (min-width: 768px) {
    p {
      font-size: 1.15rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
    h1 {
      font-size: 4rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3.5rem;
    }
  }
  .list-group{
    padding-top: 70px;
    font-size: 1.11em;
    position: relative;
    letter-spacing: .5px;
    @media (max-width:  767px) {
      font-size: 1rem;
      padding-top: 30px;
    }
    li{
      padding-left: 20px;
      line-height: 1.55;
      position: relative;
      margin-right: 0;
      margin-bottom: .2rem;
      @media (max-width:  767px) {
        text-align: left;
        margin-left: 0;
        padding-left: 0;
        margin-right: auto;
        font-weight: bold;
      }
      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        background-color: $primary;
        width: 15px;
        z-index: 1;
        height: 2px;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}
// loader css

.loader-anim {
  text-align: right;
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 3.2rem;
  opacity: 0.8;
  @media (max-width: 767px) {
      font-size: 2.3rem;
      text-align: left;
  }
  span {
    display: inline-block;
    animation: pulse 1.5s alternate infinite ease-in-out;
    @media (max-width: 767px) {
      display: none;
    }
    &:nth-child(3) {
      animation-delay: 1.5s;
    }
  }
  strong{
    color: $white;
    font-size: 3rem;
    padding: 20px;
    @media (max-width: 767px) {
      font-size: 2.3rem;
      text-align: center;
      padding: 0;
    }
  }
}

@keyframes pulse {
  to {
    transform: scale(0.7);
    opacity: 0.3;
  }
}
#mainNav .navbar-brand{
  font-style: normal;
  letter-spacing: 1px;
}