<section class="home-support">
  <div class="container">
    <h2 class="sect-header home-support__header">IT СОПРОВОЖДЕНИЕ ЛЮБОГО БИЗНЕСА</h2>

    <div class="home-support__row">
      <div class="home-support__col">
        <img src="/img/notebook.png" alt="">
      </div>
      <div class="home-support__col">
        <div class="panel-block">
          <h3 class="panel-block__header">Специализированные iТ-решения </h3>
          <p class="panel-block__text">Мы анализируем ваши потребности и предлагаем индивидуальное решение: быстро и надежно.</p>
        </div>
        <div class="panel-block">
          <h3 class="panel-block__header">Полное IT сопровождение</h3>
          <p class="panel-block__text">Полное ИТ-сопровождение вашего бизнеса - мы предоставляем удаленную и локальную поддержку по всей территории РОССИИ.</p>
        </div>
        <button class="button button--md button--blue">читать подробнее</button>
      </div>
      <div class="home-support__col">
        <div class="panel-block">
          <h3 class="panel-block__header">Услуги по  упреждающей ИТ поддержки</h3>
          <p class="panel-block__text">Сотрудники нашей компании обладают необходимым опытом и высоким уровнем профессиональных знаний для эффективного устранения угроз и проблем связанных с ИТ - технологиями. Мы гарантируем быстрое  решение всех вопросов, связанных с ИТ!  </p>
        </div>
      </div>
    </div>

  </div>    
</section>