<section class="home-title">
  <div class="main-banner">
    <div class="swiper-container main-banner__carousel">

      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="main-banner__row">
            <div class="main-banner__col">
              <div class="main-banner__block">
                <h2 class="main-banner__header">Техническая<br>поддержка</h2>
                <p class="main-banner__text">Удаленная круглосуточная техническая поддержка, без выходных.</p>
              </div>
            </div>

            <div class="main-banner__col">
              <img src="/img/slideimage01.png" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-banner__row">
            <div class="main-banner__col">
              <div class="main-banner__block">
                <h2 class="main-banner__header">ИНФОРМАЦИОННЫЙ<br>ЦЕНТР</h2>
                <p class="main-banner__text">Предлагаем в аренду собственные серверные мощности, VPS сервера.</p>
              </div>
            </div>

            <div class="main-banner__col">
              <img src="/img/slideimage03.png" alt="">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="main-banner__row">
            <div class="main-banner__col">
              <div class="main-banner__block">
                <h2 class="main-banner__header">АНТИВИРУСНАЯ<br>ЗАЩИТА</h2>
                <p class="main-banner__text">Комплексная организация систем антивирусной защиты для вашей информационной структуры.</p>
              </div>
            </div>

            <div class="main-banner__col">
              <img src="/img/slideimage02.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <div class="home-features">
    <div class="container">
      <ul class="home-features__list">
        <li>
          <div>
            <img src="/img/hf-img01.png" alt="" class="home-features__image">
            <div class="home-features__content">
              <h3 class="home-features__header">В НАШЕЙ КОМПАНИИ НАДЕЖНЫЕ ИНЖЕНЕРЫ</h3>
              <p class="home-features__text">На сегодняшний день найти хорошего IT специалиста очень сложно, мы тщательно следим за работой наших сотрудников и прислушиваемся к нашим заказчикам</p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <img src="/img/hf-img02.png" alt="" class="home-features__image">
            <div class="home-features__content">
              <h3 class="home-features__header">МЫ РАБОТАЕМ 24/7/365 ПОДДЕРЖКА</h3>
              <p class="home-features__text">IT-Acompany работает круглые сутки наши специалисты помогут в любое время, ваш бизнес будет под круглосуточном контролем. Можете быть уверены.</p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <img src="/img/hf-img03.png" alt="" class="home-features__image">
            <div class="home-features__content">
              <h3 class="home-features__header">ГОТОВЫЕ ТЕХНИЧЕСКИЕ РЕШЕНИЯ</h3>
              <p class="home-features__text">Автоматизируем ваш бизнес путем внедрения только лучших технических, программных и веб решений. Разрабатываем любые, сложные веб сайты и приложения.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>