<section class="home-clients">
  <div class="container">
    <h2 class="home-clients__header sect-header">Наши клиенты</h3>
      <div class="home-clients__block">
        <div class="swiper-container home-clients__carousel">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/img/client1.png" alt=""></div>
            <div class="swiper-slide"><img src="/img/client2.png" alt=""></div>
            <div class="swiper-slide"><img src="/img/client3.png" alt=""></div>
            <div class="swiper-slide"><img src="/img/client4.png" alt=""></div>
            <div class="swiper-slide"><img src="/img/client5.png" alt=""></div>
          </div>          
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>