<section class="home-prices">
  <div class="container">
    <h2 class="sect-header home-prices__header">Наши цены</h2>

    <div class="home-prices__block">
      <div class="home-prices__list">
        <div>
          <div class="item">
            <div class="item__header">
              <h3>&bull;&nbsp;АРЕНДА СЕРВЕРА&nbsp;&bull;</h3>
              <span>
                <span>от</span>
                <b>2500</b>
                <span>руб / месяц</span>
              </span>
            </div>
            <div class="item__content">
              <ul>
                <li><span class="icon-check"></span><span>Обслуживание windows server</span></li>
                <li><span class="icon-check"></span><span>Ежедневные бэкапы</span></li>
                <li><span class="icon-check"></span><span>Настройка SQL</span></li>
                <li><span class="icon-check"></span><span>Настройка 1С</span></li>
                <li><span class="icon-check"></span><span>Терминальный Server</span></li>
              </ul>
  
              <button class="button button--md button--red">оформить заказ</button>
            </div>
          </div>
        </div>
        <div>
          <div class="item">
            <div class="item__header">
              <h3>&bull;&nbsp;обслуживание ПК&nbsp;&bull;</h3>
              <span>
                <span>от </span>
                <b>400</b>
                <span>руб / месяц</span>
              </span>
            </div>
            <div class="item__content">
              <ul>
                <li><span class="icon-check"></span><span>Диагностика ПК</span></li>
                <li><span class="icon-check"></span><span>Устранения неисправности</span></li>
                <li><span class="icon-check"></span><span>Обслуживание ПК</span></li>
                <li><span class="icon-check"></span><span>Установка программ</span></li>
                <li><span class="icon-check"></span><span>Настройка программ</span></li>
              </ul>
  
              <button class="button button--md button--red">оформить заказ</button>
            </div>
          </div>
        </div>
        <div>
          <div class="item">
            <div class="item__header">
              <h3>&bull;&nbsp;создание сайта&nbsp;&bull;</h3>
              <span>
                <span>от </span>
                <b>12 000</b>
                <span>руб / месяц</span>
              </span>
            </div>
            <div class="item__content">
              <ul>
                <li><span class="icon-check"></span><span>Одностраничный сайт</span></li>
                <li><span class="icon-check"></span><span>Шаблонный дизайн</span></li>
                <li><span class="icon-check"></span><span>Форма обратной связи</span></li>
                <li><span class="icon-check"></span><span>Карта на сайте</span></li>
                <li><span class="icon-check"></span><span>Кнопка обратного звонка</span></li>
              </ul>
  
              <button class="button button--md button--red">оформить заказ</button>
            </div>
          </div>
        </div>
      </div>
      <button class="button button--md button--white">смотреть все цены</button>
    </div>
  </div>
</section>