<section class="home-service">
  <div class="home-service__title">
    <div class="container">
      <h2 class="home-service__header">ВЕДУЩИЙ ИНФОРМАЦИОННО ТЕХНИЧЕСКИЙ ПРОВАЙДЕР</h2>
      <h3 class="home-service__subheader">РЕШЕНИЕ ЛЮБЫХ ПРОБЛЕМ</h3>
      <p class="home-service__headertext">Самый выгодный вариант IT-обслуживания – это аутсорсинг. Для современного офиса необходима бесперебойная работа IT-инфраструктуры. Рассмотрите вариант аутсорсингового IT-обслуживания.</p>
      <button class="button button--lg button--redwhite mx-auto">читать больше об услуге</button>
    </div>
  </div>
  
  <div class="home-service-block">
    <div class="container">
      <ul class="home-service__list">
        <li>
          <div class="list-item">
            <div class="list-item__image"><img src="/img/serv1.png" alt=""></div>
            <h3 class="list-item__header">ЭКОНОМИМ ВАШИ ДЕНЬГИ</h3>
            <p class="list-item__text">Средствами наших готовых технических и программных комплексов.</p>
          </div>
        </li>
        <li>
          <div class="list-item">
            <div class="list-item__image"><img src="/img/serv2.png" alt=""></div>
            <h3 class="list-item__header">МОБИЛЬНЫЕ РЕШЕНИЯ</h3>
            <p class="list-item__text">Разработаем любые мобильные приложения для вас.</p>
          </div>
        </li>
        <li>
          <div class="list-item">
            <div class="list-item__image"><img src="/img/serv3.png" alt=""></div>
            <h3 class="list-item__header">1С СОПРОВОЖДЕНИЕ</h3>
            <p class="list-item__text">Являемся официальным партнером, а так же интегратором систем 1С</p>
          </div>
        </li>
        <li>
          <div class="list-item">
            <div class="list-item__image"><img src="/img/serv4.png" alt=""></div>
            <h3 class="list-item__header">СИСТЕМЫ <br> ВИДЕОНАБЛЮДЕНИЯ</h3>
            <p class="list-item__text">Внедрения систем видеонаблюдения в любые отраслевые решения</p>
          </div>
        </li>
        <li>
          <div class="list-item">
            <div class="list-item__image"><img src="/img/serv5.png" alt=""></div>
            <h3 class="list-item__header">ОБСЛУЖИВАНИЕ<br>ОРГТЕХНИКИ </h3>
            <p class="list-item__text">Предоставляем весь спектр услуг по обслуживанию и ремонту оргтехники.</p>
          </div>
        </li>
        <li>
          <div class="list-item">
            <div class="list-item__image"><img src="/img/serv6.png" alt=""></div>
            <h3 class="list-item__header">ИНФОРМАЦИОННАЯ <br> БЕЗОПАСНОСТЬ</h3>
            <p class="list-item__text">Мы являемся официальным сертифицированным партнером компании Dr.Web</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="home-service__panels">
    <div class="container">
      <ul class="service-panels">
        <li>
          <img src="/img/sp111.png" alt="">
          <div class="cont">
            <h3>IT SUPPORT</h3>
            <p>Круглосуточная техническая поддержка 24/7</p>
          </div>
        </li>
        <li>
          <img src="/img/sp222.png" alt="">
          <div class="cont">
            <h3>МЕНЕДЖМЕНТ</h3>
            <p>Мы предлагаем оперативные технические решения по управлению вашим бизнесом.</p>
          </div>
        </li>
        <li>
          <img src="/img/sp333.png" alt="">
          <div class="cont">
            <h3>WEB SUPPORT</h3>
            <p>Информационные решения для вашего бизнеса.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>