<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Sign up</title>
	<meta name="description" content="Page description">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/main.min.css">
</head>

<body>

	<div class="page-wrapper page-signup">

    <header class="main-header">
      <div class="container">
        <div class="header-nav">
          <a href="/" class="d-block header-nav__logo">
            <img class="d-block" src="img/Logo.png" width="340" alt="Wireless match">
          </a>
    
          <button class="header-call">
            <span class="icon icon-call-grad"></span>
            <span>1.844.WMATCH</span>
          </button>
    
          <button class="icon icon-sb-toggle sidebar-toggle"></button>
        </div>
      </div> 
    </header>

		<main class="page-content">

      <section class="enter-sect" id="app">
        <div class="container">
          <h1 class="enter-sect__header">Question <span style="display: inline-block; width: 1ch;">{{count}}</span> of 7</h1>

          <div class="form-bar">
            <div 
              class="form-bar__inner" 
              :class="{'accepted': count > 4}"
              :style="{ transform: 'translateX(-' + (1 - progress)*100 + '%)'}"></div>
          </div>
          
          <div class="enter-sect__desc">
            In order for us to find you the best deals we need to ask you a few questions. <i>This will only take 30 seconds.</i>
          </div>

          <div class="enter-sect__info">
            <img src="img/logos/BBB.png" alt="BBB">
            <p><span>1 min ago:</span><i>&nbsp;&nbsp;&nbsp;Sandy just saved $218 and got new iPhones!</i></p>
          </div>

          <form class="enter-sect__block">
            <div class="swiper-container form-carousel">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="form-step">
                    <div class="form-step__inner">
                      <h3 class="form-step__label">How many lines do you have?</h3>

                      <select 
                        ref="formSelect" 
                        name="lines" 
                        v-model="steps[0].value"
                        class="select-css">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

                      <div class="form-step__message">
                        <div class="icon icon-info"></div>
                        <p>Please include all lines that you are currently paying for. (Phones, Tablets, etc..)</p>
                      </div>

                      <button 
                        type="button" 
                        @click="Vue.prototype.formCarousel.slideNext(300)" 
                        class="btn btn-md">
                        <span>Next</span>
                        <span class="icon icon-arr-r-white"></span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="form-step">
                    <div class="form-step__inner">
                      <h3 class="form-step__label">How many lines do you have?</h3>

                      <select 
                        ref="formSelect" 
                        name="lines" 
                        v-model="steps[0].value"
                        class="select-css">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

                      <div class="form-step__message">
                        <div class="icon icon-info"></div>
                        <p>Please include all lines that you are currently paying for. (Phones, Tablets, etc..)</p>
                      </div>

                      <button class="btn btn-md"><span>Next</span><span class="icon icon-arr-r-white"></span></button>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="form-step">
                    <div class="form-step__inner">
                      <h3 class="form-step__label">How many lines do you have?</h3>

                      <select 
                        ref="formSelect" 
                        name="lines" 
                        v-model="steps[0].value"
                        class="select-css">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

                      <div class="form-step__message">
                        <div class="icon icon-info"></div>
                        <p>Please include all lines that you are currently paying for. (Phones, Tablets, etc..)</p>
                      </div>

                      <button class="btn btn-md">Next</button>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="form-step">
                    <div class="form-step__inner">
                      <h3 class="form-step__label">How many lines do you have?</h3>

                      <select 
                        ref="formSelect" 
                        name="lines" 
                        v-model="steps[0].value"
                        class="select-css">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

                      <div class="form-step__message">
                        <div class="icon icon-info"></div>
                        <p>Please include all lines that you are currently paying for. (Phones, Tablets, etc..)</p>
                      </div>

                      <button class="btn btn-md">Next</button>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="form-step">
                    <div class="form-step__inner">
                      <h3 class="form-step__label">How many lines do you have?</h3>

                      <select 
                        ref="formSelect" 
                        name="lines" 
                        v-model="steps[0].value"
                        class="select-css">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

                      <div class="form-step__message">
                        <div class="icon icon-info"></div>
                        <p>Please include all lines that you are currently paying for. (Phones, Tablets, etc..)</p>
                      </div>

                      <button class="btn btn-md">Next</button>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="form-step">
                    <div class="form-step__inner">
                      <h3 class="form-step__label">How many lines do you have?</h3>

                      <select 
                        ref="formSelect" 
                        name="lines" 
                        v-model="steps[0].value"
                        class="select-css">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

                      <div class="form-step__message">
                        <div class="icon icon-info"></div>
                        <p>Please include all lines that you are currently paying for. (Phones, Tablets, etc..)</p>
                      </div>

                      <button class="btn btn-md">Next</button>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="form-step">
                    <div class="form-step__inner">
                      <h3 class="form-step__label">How many lines do you have?</h3>

                      <select 
                        ref="formSelect" 
                        name="lines" 
                        v-model="steps[0].value"
                        class="select-css">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

                      <div class="form-step__message">
                        <div class="icon icon-info"></div>
                        <p>Please include all lines that you are currently paying for. (Phones, Tablets, etc..)</p>
                      </div>

                      <button class="btn btn-md">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </form>
        </div>
      </section>

      <section class="home-reviews home-reviews--su">
        <div class="container text-center">

          <div class="section-header__wrap">
            <h2 class="home-reviews__header h-fs-2">See why over 300,000 users love Wireless Match</h2>
          </div>

          <div class="home-reviews__brands">
            <img src="img/logos/GoogleReviews.png" alt="GoogleReviews">
            <img src="img/logos/ShopperApproved.png" alt="ShopperApproved">
            <img src="img/logos/BBB.png" alt="BBB">
          </div>

          <div class="home-reviews__block">
            <div class="swiper-container home-reviews__carousel">
              <div class="swiper-wrapper">
               
                <div class="swiper-slide">
                  <div class="reviews-item">
                    <div class="reviews-item__head">
                      <img src="img/photos/review-user01.png" alt="Gerson Cotereas" class="reviews-item__icon">

                      <div class="reviews-item__header">
                        <h3>Gerson Cotereas</h3>
                        <span>Seatle, WA</span>
                      </div>
                    </div>

                    <div class="reviews-item__rate">
                      <img src="img/star.png" alt="1">
                      <img src="img/star.png" alt="2">
                      <img src="img/star.png" alt="3">
                      <img src="img/star.png" alt="4">
                      <img src="img/star.png" alt="5">
                    </div>

                    <div class="reviews-item__cont">“I was paying too much with T-Mobile, but now I’m not. Couldn’t be happier. Saving money on the bill. Super helpful, great customer service.”</div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="reviews-item">
                    <div class="reviews-item__head">
                      <img src="img/photos/review-user02.png" alt="Sherry Steale" class="reviews-item__icon">

                      <div class="reviews-item__header">
                        <h3>Sherry Steale</h3>
                        <span>Eustis, FL</span>
                      </div>
                    </div>

                    <div class="reviews-item__rate">
                      <img src="img/star.png" alt="1">
                      <img src="img/star.png" alt="2">
                      <img src="img/star.png" alt="3">
                      <img src="img/star.png" alt="4">
                      <img src="img/star.png" alt="5">
                    </div>

                    <div class="reviews-item__cont">“I was paying too much with T-Mobile, but now I’m not. Couldn’t be happier. Saving money on the bill. Super helpful, great customer service.”</div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div class="reviews-item">
                    <div class="reviews-item__head">
                      <img src="img/photos/review-user01.png" alt="Sara Verduga" class="reviews-item__icon">

                      <div class="reviews-item__header">
                        <h3>Sara Verduga</h3>
                        <span>Winter Springs, FL</span>
                      </div>
                    </div>

                    <div class="reviews-item__rate">
                      <img src="img/star.png" alt="1">
                      <img src="img/star.png" alt="2">
                      <img src="img/star.png" alt="3">
                      <img src="img/star.png" alt="4">
                      <img src="img/star.png" alt="5">
                    </div>

                    <div class="reviews-item__cont">“I was paying too much with T-Mobile, but now I’m not. Couldn’t be happier. Saving money on the bill. Super helpful, great customer service.”</div>
                  </div>
                </div>

              </div>          
            </div>
    
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

          <a class="home-reviews__more mx-auto" href="#"><span>View More Reviews</span><span class="icon icon-arr-r-white"></span></a>
        </div>
      </section>
    </main>

    <footer class="main-footer">
      <div class="container">
        <div class="main-footer__row">
    
          <div class="main-footer__col">
            <a href="/" class="d-block main-footer__logo">
              <img class="block" src="img/Logo.png" width="460" alt="Wireless match">
            </a>
    
            <ul class="contact-list">
              <li>
                <div class="icon icon-email-grad"></div>
                <p>hello@wirelesswatch.com</p>
              </li>
              <li>
                <div class="icon icon-call-grad02"></div>
                <p>1.844.WMATCH (Toll Free)</p>
              </li>
              <li>
                <div class="icon icon-point-grad"></div>
                <p>121, South Orange Ave, Orlando <br>
                  Florida FL 32801</p>
              </li>
            </ul>
          </div>
    
          <div class="main-footer__col">
            <h3 class="main-footer__listheader">Quick Links</h3>
    
            <ul class="main-footer__links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">How it works</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
    
          <div class="main-footer__col">
            <h3 class="main-footer__listheader">Information</h3>
    
            <ul class="main-footer__links">
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
    
            <ul class="main-footer__socials">
              <li><a href="#" class="icon icon-facebook"></a></li>
              <li><a href="#" class="icon icon-twitter"></a></li>
              <li><a href="#" class="icon icon-youtube"></a></li>
            </ul>
          </div>
    
        </div>
    
        <div class="main-footer__copy text-center">
          © 2020 Wireless Match. All Rights Reserved
        </div>
      </div>
    </footer>
  </div>

  <script src="js/scripts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    
    const app = new Vue({
      el: '#app',
      data() {
        return {
          progress: 1/7,
          steps: [
            {
              value: '1',
            }
          ]
        }
      },
      methods: {

      },
      computed: {
        count() {
          return (this.progress*7).toFixed()
        }
      },
      mounted() {
        var self = this

        Vue.prototype.formCarousel = new Swiper ('.form-carousel', {
          slidesPerView: 1,
          loop: false,
          navigation: {
            nextEl: '.enter-sect__block .swiper-button-next',
            prevEl: '.enter-sect__block .swiper-button-prev',
          },
          on: {
            slideChange: function() {
              self.progress = this.progress*6/7+1/7
            }
          }
        })
      }
    })
  </script>
</body>

</html>