// Helpers, triggers

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}
.menu-scrolled{
	padding-bottom: 5px !important;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.top-hide{
	margin-top: -76%;
	@media (max-width: grid-width(md)) {
		margin-top: -150%;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
	}
}
.show-dropdown{
	top: 40px !important;
}
.show{
	display: block !important;
}
.item-expand{
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
}
.sticky-header{
	&:after{
		visibility: hidden;
	}
	.navbar-top{
		padding-top: 8px;
		padding-bottom: 8px;
	}
}