<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Flykids</title>
	<meta name="description" content="Page description">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/main.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>

<body>

	<div class="main-bg">
		<img class="fig fig1 fig-back fig-big" src="img/Exclude.svg" alt="">
		<img class="fig fig2 fig-back fig-big" src="img/Union.svg" alt="">
		<img class="fig fig3 fig-front fig-small" src="img/Union2.svg" alt="">
		<img class="fig fig4 fig-front fig-small" src="img/Exclude2.svg" alt="">
		<img class="fig fig5 fig-back fig-big" src="img/Union3.svg" alt="">
		<img class="fig fig6 fig-back fig-small" src="img/Exclude3.svg" alt="">
		<img class="fig fig7 fig-back fig-small" src="img/Union4.svg" alt="">
		<img class="fig fig8 fig-front fig-small" src="img/Union5.svg" alt="">
		<img class="fig fig9 fig-front fig-small" src="img/Union6.svg" alt="">
	</div>

	<div id="calc-app" class="page-wrapper page-calc-show">

		<div class="soc-widget">
			<div class="soc-list">
				<div class="soc-list__item">
					<img src="img/youtube.svg" alt="">
					<a href="#">Присоединиться</a>
				</div>
				<div class="soc-list__item">
					<img src="img/instagram.svg" alt="">
					<a href="#">Присоединиться</a>
				</div>
				<div class="soc-list__item">
					<img src="img/facebook.svg" alt="">
					<a href="#">Присоединиться</a>
				</div>
			</div>
		</div>
		
		<header class="page-header">

			<div class="topbar">
				<div class="container topbar-inner">
					<a href="#" class="logo">
						<img src="img/logo.png" width="161" height="43" alt="Flykids">
					</a>
					<h1 class="title h-fs-1">FLY&nbsp;BIRTHDAY</h1>
					<div class="order-timer">
						<span class="order-timer__header">Время<br>заказа:</span>
						<div class="order-timer__block">
							<div><span>мин</span><span>c</span><span>мc</span></div>
							<div><span>14</span>:<span>59</span>:<span>59</span></div>
						</div>
					</div>
				</div>	
			</div>

			<nav class="progressbar">
				<div class="container progressbar-inner">
					<div class="progressbar-outer comm-panel">
						<div class="page-labels">
							<div class="page-labels__item">Место&nbsp;и&nbsp;детали</div>
							<div class="page-labels__item">Анимация</div>
							<div class="page-labels__item">Шоу&nbsp;и&nbsp;мастер&nbsp;-&nbsp;классы</div>
							<div class="page-labels__item">Украшения</div>
							<div class="page-labels__item">Меню</div>
							<div class="page-labels__item">Оплата</div>
						</div>
						<ul class="page-points">
							<li class="page-point">
								<span class="page-point__marker"></span>
								<div class="page-point__progress"></div>
							</li>
							<li class="page-point">
								<span class="page-point__marker"></span>
							</li>
							<li class="page-point">
								<span class="page-point__marker"></span>
							</li>
							<li class="page-point">
								<span class="page-point__marker"></span>
							</li>
							<li class="page-point">
								<span class="page-point__marker"></span>
							</li>
							<li class="page-point">
								<span class="page-point__marker"></span>
							</li>
						</ul>
					</div>
				</div>
			</nav>

		</header>

		<main class="page-content">
			<div class="container">
				<div class="page-content__row">

					<div class="main-content">

						<section class="show-sect">
							<h2 class="h-fs-2">Шоу и мастер-классы</h2>

							<div class="show-sect__content">
								<p>Надоели стандартные программы? - закажите шоу. Если Вы побывали уже на всех сюжетных игровых программах и хотите чего-то новенького, тогда Вы попали по адресу.</p>

								<small>Цена анимации до 15 детей. При количестве детей от 16 человек, сумма тарифа удваивается.</small>

								<div class="show-sect__block">
									<h2 class="h-fs-2">Выбор шоу</h2>

									<ul class="show-sect__list">

										<li class="comm-panel show-item show-item--show" v-for="(item, index) in shows">
											<div class="show-item__image">
												<img :src="item.image" alt="">
											</div>
											<div class="show-item__row accordion">
												<div class="show-item__left">
													<h3 class="h-fs-2--800 show-item__header">{{ item.name }}</h3>
													<div class="show-item__info">
														<div>
															<span>Время</span>
															<span>Цена</span>
															<span></span>
														</div>
														<div>
															<span>{{ item.time }}</span>
															<span>{{ item.price | localPrice }}</span>
															<span><a href="#" class="show-item__more">Подробнее</a></span>
														</div>
													</div>
												</div>
												<div class="show-item__rigth">
													<button class="btn" @click="setShow(event, index)">Выбрать</button>
												</div>
												<div class="show-item__desc" v-html="item.desc"></div>
											</div>
										</li>

									</ul>
								</div>

								<div class="show-sect__block">
									<h2 class="h-fs-2">Выбор мастер-классов</h2>

									<ul class="show-sect__list">

										<li class="comm-panel show-item show-item--masterclass" v-for="(item, index) in masterclasses">
											<div class="show-item__image">
												<img :src="item.image" alt="">
											</div>
											<div class="show-item__row accordion">
												<div class="show-item__left">
													<h3 class="h-fs-2--800 show-item__header">{{ item.name }}</h3>
													<div class="show-item__info">
														<div>
															<span>Время</span>
															<span>Цена</span>
															<span></span>
														</div>
														<div>
															<span>{{ item.time }}</span>
															<span><span>{{ item.tariff }}</span>₴/чел</span>
															<span><a href="#" class="show-item__more">Подробнее</a></span>
														</div>
													</div>
												</div>
												<div class="show-item__rigth">
													<button class="btn" @click="setMasterclass(event, index)">Выбрать</button>
												</div>
												<div class="show-item__desc" v-html="item.desc"></div>
											</div>
										</li>

									</ul>
								</div>

							</div>
				
						</section>

						<div class="calc-nav">
							<a href="calc-step2.html" class="btn">Назад</a>
							<a href="calc-step4.html" data-next="true" class="btn">Далее</a>
						</div>

					</div>


					<aside class="main-sidebar">

							<section class="order-sect">
								<div  class="order-sect__wrap">
									<h3 class="h-fs-2">Ваш заказ</h3>
	
									<div class="busket">
	
										<div class="busket-inner">
											<div class="busket-info">
												<div class="busket-info__addr">
													<span class="busket-info__place">ТРЦ "Арсен"</span>
													<span class="busket-info__city">г.Львов</span>
												</div>
												<div class="busket-info__time">
													<span class="busket-info__date">
														{{ curDate }}
														<span v-if="curDate == ''">ДД.ММ.ГГГГ</span>
													</span>
													<span class="busket-info__hours">
														{{ curHours }}
														<span v-if="curHours == ''">00:00 - 00:00</span>
													</span>
												</div>
											</div>
	
											<div class="busket-items baron baron__root baron__clipper simple">
	
												<div class="baron__scroller">
	
												<div class="busket-item">
													<span class="busket-item__label">Тематическая комната</span>
													<div class="busket-item__block">
														<h3 class="h-fs-3--800 busket-item__header">
															{{ curRoomName }}
															<span v-if="curRoomName == ''">Выберите комнату</span>
														</h3>
														<span class="busket-item__price">{{ curRoomMinSumm | localPrice }}</span>
													</div>
												</div>
	
												<div class="busket-item">
													<span class="busket-item__label">Количество гостей</span>
													<div class="busket-item__row">
	
														<div class="busket-item__col">
															<div v-for="(item, index) in guests">
																<span class="busket-item__val">{{ item.label }}</span>
																<div class="busket-counter">
																	<button type="button"  @click="decCount(index)" :disabled="item.isDecDisabled" class="busket-counter__minus"></button>
																	<input type="text" v-model="item.count" disabled>
																	<button type="button" @click="incCount(index)" :disabled="item.isInkDisabled" class="busket-counter__plus"></button>
																</div>
															</div>
														</div>
	
														<div class="busket-item__col">
															<div class="busket-item__calc" v-for="(item, index) in guests">
																<span>
																	<span v-if="item.pricePer !== 0">х {{ item.pricePer | localPrice }} / чел.</span>
																	<span v-if="item.pricePer == 0">Бесплатно</span>
																</span>
																<span>{{ guestsPrice[index] }}</span>
															</div>
														</div>
	
													</div>
	
												</div>
	
												<div class="busket-item" v-for="(item, index) in animations" v-if="item.active">
													<div class="busket-item__label">
														<span>Анимация</span>
														<div class="tooltip-wrapper">
															<button class="busket-item__delete" @click="removeAnim(index)"></button>
															<div class="tooltip">
																<div class="tooltip-content">Удалить</div>
															</div>
														</div>
													</div>
													<div class="busket-item__comm-block">
														<h3 class="h-fs-3--800 busket-item__header">{{ item.name }}</h3>
														<div class="busket-item__comm-info">
															<span class="busket-item__comm-name">{{ item.type }}</span>
															<div class="busket-counter">
																<button type="button" @click="decCountAnim(index)" class="busket-counter__minus"></button>
																<input type="text" v-model='item.curTime' disabled>
																<button type="button" @click="incCountAnim(index)" class="busket-counter__plus"></button>
															</div>
															<span class="busket-item__comm-price">{{ item.curTariff | localPrice }}</span>
														</div>
													</div>
												</div>
	
												<div class="busket-item" v-for="(item, index) in shows" v-show="item.active">
													<div class="busket-item__wrapper" >
														<div class="busket-item__label">
															<span>Шоу</span>
															<div class="tooltip-wrapper">
																<button class="busket-item__delete" @click="removeShow(event, index)"></button>
																<div class="tooltip">
																	<div class="tooltip-content">Удалить</div>
																</div>
															</div>
														</div>
														<div class="busket-item__show-block">
															<h3 class="h-fs-3--800 busket-item__header">{{ item.name }}</h3>
															<span class="busket-item__show-time"></span>
															<span class="busket-item__show-price"><span>{{ item.price | localPrice }}</span>
														</div>
													</div>
												</div>
	
												<div class="busket-item" v-for="(item, index) in masterclasses" v-show="item.active">
													<div class="busket-item__label">
														<span>Мастер-класс</span>
														<div class="tooltip-wrapper">
															<button class="busket-item__delete" @click="removeMasterclass(event, index)"></button>
															<div class="tooltip">
																<div class="tooltip-content">Удалить</div>
															</div>
														</div>
													</div>
													<div class="busket-item__mc-block">
														<h3 class="h-fs-3--800 busket-item__header">{{ item.name }}</h3>
														<div class="busket-item__mc-row">
															<div class="busket-item__mc-count">
																<span class="busket-item__counter-label">К-во детей</span>
																<div class="busket-counter">
																	<button type="button" @click="decCountMc(index)" class="busket-counter__minus"></button>
																	<input type="text" v-model="item.count" disabled>
																	<button type="button" @click="incCountMc(index)" class="busket-counter__plus"></button>
																</div>
															</div>
															<span class="busket-item__mc-tar">х <span>{{ item.tariff }}</span>₴ / чел.</span>
															<span class="busket-item__mc-price">{{ masterclassPrice[index] }}</span>
														</div>
													</div>
												</div>
	
												</div>
	
												<div class="baron__track">
													<div class="baron__free">
														<div class="baron__bar"></div>
													</div>
												</div>
												
											</div>
	
											<div class="busket-comm">
												<span class="busket-min" v-if="curRoomMinSumm !== ''"><span>Депозит</span><span>{{ curRoomMinSumm | localPrice }}</span></span>
												<div class="busket-bottom">
													<span class="busket-bottom__label">Сумма к оплате</span>
													<span class="h-fs-2--800 busket-summ">{{ summ }}</span>
												</div>
											</div>
										</div>
	
									</div>
								</div>
								
							</section>
							
						</aside>

				</div>

			</div>
		</main>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
	<script src="js/scripts.min.js"></script>
</body>

</html>
