.tabs {
	&__nav {
		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 1px;
			height: 1px;
			z-index: -1;
			background-color: $gray;
		}
	}
	&__link {
		cursor: pointer;
		margin-right: rem(25px);
		display: inline-block;
		font-size: rem(14px);
	  line-height: 1.29;
	  color: #c0c0c0;
	  padding-bottom: 14px;
	  &.active {
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.19;
		  letter-spacing: normal;
		  text-align: left;
		  color: $white;
		  border-bottom: 3px solid $accent;
	  }
	} 
	&__content {
		display: none;
		&:first-of-type {
			display: block;
		}
	}
}