// Buttons

.btn{
	display: block;
	text-decoration: none;
	background-color: $accent;
	color: #fff;
	line-height: 1;
	font-weight: 500;
	font-family: $header-font;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
	&:hover{
		background-color: $accent-light;
	}
}
.btn-lg{
	font-size: rem(18px);
	padding: rem(20px 55px);
	border-radius: 40px;
	border: 0;
	outline: 0;
	cursor: pointer;
	height: 100%;
	@media (max-width: grid-width(lg)){
		font-size: rem(20px);
		font-weight: 600;
	}
	@media (max-width: grid-width(sm)){
		font-size: rem(18px);
		max-width: 270px;
		width: 100%;
		text-align: center;
	}
}
.btn-md{
	font-size: rem(15px);
	padding: rem(15px 28px);
	border-radius: rem(26px);
	border: 0;
	outline: 0;
	cursor: pointer;
	@media (max-width: grid-width(md)){
		font-size: rem(17px);
		font-weight: 600;
	}
	@media (max-width: grid-width(sm)){
		text-align: center;
		padding: rem(17px 50px);
	}
}
.close-btn{
	display: block;
	position: absolute;
	right: 18px;
	top: 38px;
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: transparent;
	span{
		display: block;
		position: relative;
		width: 24px;
		height: 24px;
		&:before{
			content: '';
			position: absolute;
			display: block;
			transform: rotate(45deg);
			top: 10px;
			left: 1px;
			width: 22px;
			height: 4px;
			background-color: $dark;
			border-radius: 2px;
			
		}
		&:after{
			content: '';
			position: absolute;
			transform: rotate(-45deg);
			top: 10px;
			left: 1px;
			display: block;
			width: 22px;
			height: 4px;
			background-color: $dark;
			border-radius: 2px;
			
		}
	}
	&:hover span{
		opacity: .7;
	}	
}