// Custom checkmark

.input-block {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: rem(15px);
    user-select: none;
    line-height: 1.35;
}

.input-block input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: rem(22px);
    width: rem(22px);
    background-color: #fff;
}

.input-block:hover {
   color: $accent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-block input:checked ~ .checkmark:after {
    display: block;
}
.input-block input:checked {
	color: $dark;
}

.input-block .checkmark:after {
    left: rem(9px);
    top: rem(5px);
    width: rem(5px);
    height: rem(10px);
    border: solid $dark;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}