// Contact page

.contact-items{
	@include grid-row();
	margin-top: 70px;
}
.contact-item{
	@include grid-col(12 12 6);
	@include grid-row();
	display: flex;
	align-items: flex-start;
	margin-bottom: 50px;
	@media (max-width: grid-width(md)){
		margin-bottom: 70px;
	}
	&__icon{
		@include grid-col(12 4 3);
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 60px;
			margin-bottom: 10px;
		}
		@media (max-width: grid-width(md)){
			margin-bottom: 20px;
		}	
	}
	&__desc{
		@include grid-col(12 8 9);
		p{
			font-weight: 600;
			margin-bottom: 10px;
		}
		span{
			display: block;
			font-size: 15px;
			color: $base;
			font-weight: 600;
		}
		.messengers{
			justify-content: flex-start;
			margin-top: 10px;
			@media (max-width: grid-width(sm)){
				justify-content: center;
			}
		}
		@media (max-width: grid-width(sm)){
			text-align: center;
		}
	}
	@media (max-width: grid-width(md)){
		padding-right: 0;
	}
}