// Main page

.title-page{
	padding-top: rem(100px);
	background-color: #fff;
	min-height: 900px;
	background: url(../img/fp-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20% 100%;
	@media (min-width: 992px){
		height: 100vh;
		max-height: 100vh;
	}
	@media (max-width: grid-width(md)){
		padding-top: rem(50px);
		min-height: 400px;
		background: url(../img/fp-bg-1.jpg);
	}
	@media (max-width: 600px){
		background: $background-light;
	}
}
.main-composition{
	max-width: 1660px;
	padding-right: 50px;
	padding-left: 50px;
	margin: auto;
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	@media (max-width: 570px) {
		padding-right: 15px;
		padding-left: 15px;
	}
	h1{
		font-family: $header-font;
		text-transform: uppercase;
		letter-spacing: -0.015em;
		color: $accent;
		font-size: rem(40px);
		font-weight: 600;
		line-height: 1.1;
		padding-bottom: rem(10px);
		border-bottom: 5px solid $accent;
		margin-bottom: rem(50px);
		span{
			display: block;
			color: $base;
		}
		@media (max-width: grid-width(md)) {
			font-size: rem(34px);
			margin-top: rem(90px);
			margin-bottom: rem(30px);
		}
		@media (max-width: grid-width(sm)) {
			font-size: rem(30px);
		}
	}
	.service-list{
		list-style: none;
		li{
			font-size: rem(18px);
			line-height: 1.5;
			font-weight: 500;
			padding-left: rem(30px);
			position: relative;
			transition: all .6s ease-in-out;
			&:before{
				content: '';
				display: block;
				width: 11px;
				height: 15px;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -7.5px;
				transition: all .6s ease-in-out;
				background: url(../img/next-arrow.svg);
				background-repeat: no-repeat;
				background-size: cover;
			}
			&:hover{
				padding-left: rem(60px);
				&:before{
					left: rem(30px);
				}
			}
			@media (max-width: grid-width(md)) {
				font-size: rem(16px);
			}
		}
	}
	p{
		margin-top: rem(30px);
		font-size: rem(24px);
		font-weight: 500;
		font-family: $header-font;
		color: $base;
		text-transform: uppercase;
		@media (max-width: grid-width(md)){
			font-size: rem(19px);
			margin-top: rem(30px);	
		}
	}
	.tech-block{
		margin-top: rem(40px);
		display: flex;
		flex-flow: row wrap;
		margin-bottom: rem(50px);
		@media (max-width: grid-width(md)) {
			margin-top: rem(30px);
			margin-bottom: 0;
		}
		&__figure{
			position: relative;
			display: block;
			margin-right: rem(30px);

			&:last-of-type{
				margin-right: 0;
				@media (max-width: 491px) {
					margin-right: rem(30px);
				}
			}
			@media (max-width: grid-width(md)) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-bottom: 10px;
			}
			@media (max-width: 491px) {
				flex-direction: row;
				max-width: 300px;
				margin-bottom: 10px;
				width: 100%;
				margin-left: 15px;
				align-items: center;
				justify-content: space-between;
			}
			img{
				display: block;
				max-width: 50px;
				max-height: 100px;
				margin: auto;
				margin-top: 10px;
				@media (max-width: grid-width(md)) {
					margin-top: auto;
				}
				@media (max-width: 491px) {
					max-height: 50px;
					margin: 0;
				}	
			}	
			span{
				display: block;
				text-align: center;
				margin-top: rem(25px);
				font-family: $header-font;
				font-weight: 600;
				font-size: 1rem;
				@media (max-width: grid-width(md)) {
					margin-bottom: 10px;
					font-size: 1.1rem;
					font-weight: 500;
					text-align: left;
				}
				@media (max-width: 491px) {
					margin-top: 0;
					order: -1;

				}
			}
		}
	}
	.order-button{
		margin-top: rem(30px);
		display: flex;
		width: 100%;
		justify-content: center;
		@media (max-width: grid-width(lg)){
			margin-bottom: 3rem;
			margin-top: rem(50px);
		}
	}
}

.our-features{
	margin-top: -14%;
	background: url(../img/wave-sect.svg);
	background-repeat: no-repeat;
	background-position: 20% top;
	background-size: cover;
	padding-top: 15%;
	padding-bottom: 10%;
	@media (max-width: grid-width(lg)){
		background-position: 30% top;
		margin-top: -15%;
	}
	@media (max-width: grid-width(md)){
		background: $background-light;
		margin-top: 0;
		padding-top: 5%;
	}
}
.features-list{
	@include grid-row();
	&__item{
		@include grid-col(6 6 3);
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;
		@media (max-width: 600px){
			width: 100%;
		}
		.top-block{
			@media (max-width: grid-width(sm)){
				width: 100%;
				display: flex;
				align-items: center;
			}
		}
		img{
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			height: rem(75px);
			@media (max-width: grid-width(sm)){
				margin: 0;
				height: rem(50px);
			}
		}
		span{
			display: block;
			margin-top: rem(50px);
			text-align: center;
			font-family: $header-font;
			font-weight: 600;
			font-size: rem(17px);
			color: $base;
			@media (max-width: grid-width(sm)){
				margin-top: 0;
				margin-left: 30px;
				margin-right: auto;
			}
		}
		p{
			margin-top: rem(30px);
			text-align: center;
			margin-bottom: rem(20px);
			@media (max-width: grid-width(sm)){
				text-align: left;
			}
		}
	}
}

.about-us{
	padding-top: 4%;
	padding-bottom: 4%;
	&__content{
		position: relative;
		@include grid-row();
		display: flex;
	}
	&__images{
		@include grid-col(12 3 3);
		margin-right: auto;
		margin-left: auto;
		@media (max-width: grid-width(sm)){
			order: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 2rem;
		}
		img{
			display: block;
			border-radius: 100%;
			border: 5px solid $background-light;
			@media (max-width: grid-width(sm)){
				width: 150px;
				height: 150px;
			}
			&:nth-of-type(2){
				position: relative;
				margin-top: rem(-20px);
				@media (max-width: grid-width(sm)){
					margin-top: 0;
					margin-left: rem(-20px);
				}
			}
		}
	}
	&__desc{
		@include grid-col(12 9 9);
		p{
			margin-bottom: rem(30px);
		}
	}
}
.counters{
	margin-top: rem(70px);
	text-align: center;
	@include grid-row();
	&__item{
		@include grid-col(12 4 4);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(20px);
		span{
			display: block;
			font-family: $header-font;
			font-size: rem(60px);
			line-height: 1;
			color: $accent;
			@media (max-width: grid-width(sm)){
				position: absolute;
				min-width: 90px;
				font-size: rem(40px);
				left: 15px;
			}
		}
		p{
			font-weight: 600;
			margin-top: rem(10px);
			font-size: 1rem;
			@media (max-width: grid-width(sm)){
				margin-left: 100px;
				margin-right: auto;
				text-transform: uppercase;
				font-size: 1.1rem;
			}
		}
	}
	.counter-wrap{
		width: rem(220px);
		height: rem(220px);
		border-radius: 100%;
		padding: rem(40px);
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		position: relative;
		@media (max-width: grid-width(sm)){
			width: 100%;
			max-width: 450px;
			margin: auto;
			height: 120px;
			margin-right: auto;
		}
	}
	.counter-wrap-bg{
		display: block;
		position: absolute;
		z-index: 1;
		width: inherit;
		height: inherit;
		left: 0;
		top: 0;
		background-image: url(../img/counter-line.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		@media (max-width: grid-width(sm)){
			width: 120px;
			height: 120px;
			margin-left: auto;
		}
	}
}

.our-services{
	padding-top: 7%;
	padding-bottom: 4%;
	position: relative;
	z-index: 1;
	@media (max-width: grid-width(md)) {
		padding-top: 0;
	}
	&:before{
		content: '';
		position: absolute;
		width: 100%;
		top: 0;
		display: block;
		background: url(../img/separat-sect.svg);
		height: rem(159px);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		@media (max-width: grid-width(md)) {
			display: none;
		}
	}
}
.service-block{
	@include grid-row();
	margin-bottom: rem(70px);
	&__title{
		position: relative;
		display: flex;
		align-content: flex-start;
		justify-content: center;
		@include grid-col(12 4 4);
		span{
			font-family: $header-font;
			font-weight: 700;
			font-size: rem(120px);
			width: 6rem;
			line-height: 1;
			position: absolute;
			left: 5%;
			top: 0%;
			color: $background-gray;
			@media (max-width: grid-width(sm)) {
				left: 5%;
				top: -20%;
			}
		}
		h3{
			margin-top: rem(40px);
			@media (max-width: grid-width(md)) {
				margin-bottom: rem(40px);
			}
		}
	}
	&__desc{
		text-align: right;
		@media (max-width: grid-width(md)) {
			text-align: center;
		}
		@include grid-col(12 8 8);
		p{
			line-height: 1.7;
			text-align: left;
			margin-bottom: rem(10px);
		}
		a{
			display: inline-block;
			color: $base;
			@media (max-width: grid-width(md)) {
				margin-top: 1rem;
				font-size: rem(18px);
				font-weight: 500;
			}

		}
	}
}
.service-catalog{
	@include grid-row();
	&__title{
		text-align: center;
	}
	&__desc{
		@include grid-col(12 6 7);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		p{
			margin-top: rem(60px);
			margin-bottom: rem(40px);
		}
		.btn{
			margin-bottom: rem(50px);
		}
	}
	&__image{
		@include grid-col(12 6 5);
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			margin-top: rem(30px);
			@media (max-width: grid-width(lg)){
				max-width: 250px;
			}
		}
	}
}

.brands{
	position: relative;
	margin-top: -4%;
	padding-top: 5%;
	background-color: $background-light;
	padding-bottom: rem(60px);
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: rem(196px);
		top: rem(-196px);
		background-image: url(../img/wave-sect2.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		@media (max-width: grid-width(lg)){
			display: none;
		}
	}
}
.brands-list{
	@include grid-row();
	display: flex;
	justify-content: center;
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(60px);
		@include grid-col((1 of 3) (1 of 3) (1 of 5) (1 of 5))
	}
}