// Base styles

html{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	@media (max-width: grid-width(lg)) {
		font-size: 13px;
	}
}
*, *::before, *::after{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	outline: 0 !important;
}
::placeholder{
	color: $dark;
	font-family: $default-font;
	font-weight: 400;
}
::selection{
	background-color: $accent;
	color: #fff;
}
.input-box{
	position: relative;
	span{
		opacity: 0;
		transition: opacity .7s ease-in;
	}
}	
input, textarea{
	border: 1px solid #666;
	outline: none;
	&:focus:required:invalid{
		& + span{
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			width: 1.5rem;
			height: 1.5rem;
			background-image: url(../img/error.svg);
			background-size: cover;
			opacity: 1;
		}
	}
	&:required:valid{
		& + span{
			display: block;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			width: 1.5rem;
			height: 1.5rem;
			background-image: url(../img/success.svg);
			background-size: cover;
			opacity: 1;
		}
	}
}

body{
	position: relative;
	min-width: 320px;
	font-family: $default-font;
	font-size: rem(14px);
	line-height: 1.5;
	letter-spacing: normal;
	font-weight: 400;
	overflow-x: hidden;
	color: $base-dark;
	background-color: #fff;
}
input,
textarea,
button,
select,
a,
ul {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button{
	&:active{
	    outline: none;
	    border: none;
	}
}
img{
	color: transparent;
}
svg{
	fill: currentColor;
}
[type="button"]{
	cursor: pointer;
}
p{
	font-size: rem(15px);
}
p + p{
	margin-top: rem(30px);
}
b{
	font-weight: 600;
}
strong{
	font-weight: 600;
}
q{
	font-size: rem(18px);
	display: block;
	color: $base;
	margin-bottom: rem(30px);
	padding-left: rem(30px);
	border-left: 5px solid $background;
}
h3{
	font-family: $header-font;
	font-size: rem(20px);;
	font-weight: 500;
	color: $accent;
}
.content-link{
	color: $base;
	&:hover{
		color: $accent;
	}
}
.container{
	@include grid-container(lg lg);
}
.container-top{
	@include grid-container(xl);
}
.sect-header{
	text-transform: none;
	font-family: $header-font;
	font-weight: 500;
	letter-spacing: -0.015em;
	color: $base;
	text-align: center;
	font-size: rem(26px);
	margin-top: 50px;
	position: relative;
	padding-bottom: 30px !important;
	margin-bottom: 110px;
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -122px;
		top: 100%;
		width: 244px;
		height: 11px;
		background: url(../img/blog-wave.svg);
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: grid-width(md)){
			top: 70%;
			margin-left: -90px;
			width: 180px;
		}
	}
	span{
		color: $accent;
	}
	@media (max-width: grid-width(lg)){
		margin-bottom: 60px;
	}
	@media (max-width: grid-width(md)){
		margin-bottom: 30px;
	}
}
.page-header{
	text-align: center;
	font-family: $header-font;
	text-transform: uppercase;
	color: $base;
	font-size: rem(27px);
	font-weight: 500;
	position: relative;
	padding-bottom: 30px !important;
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -122px;
		top: 100%;
		width: 244px;
		height: 11px;
		background: url(../img/blog-wave.svg);
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: grid-width(md)){
			top: 70%;
			margin-left: -90px;
			width: 180px;
		}
	}
	@media (max-width: grid-width(lg)){
		font-size: rem(26px);
	}
	@media (max-width: grid-width(sm)){
		font-size: rem(23px);
	}
}
.page-list{
	list-style: none;
	li{
		font-size: rem(15px);
		padding-left: rem(34px);
		position: relative;
		margin-bottom: rem(20px);
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: rem(4px);
			width: 15px;
			height: 15px;
			background-image: url(../img/four-squares-list.svg);
			background-size: cover;
			@media (max-width: grid-width(md)){
				top: rem(3px);
			}
		}
		&:last-of-type{
			margin-bottom: rem(30px);
		}
		span{
			color: $accent;
		}
	}
}
.page-sect-header{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 120px;
	text-align: center;
	font-family: $header-font;
	letter-spacing: -0.015em;
	color: $base;
	font-size: rem(26px);
	font-weight: 400;
	margin-bottom: 90px;
	span{
		color: $accent;
		font-weight: 600;
	}
	@media (max-width: grid-width(lg)){
		margin-top: 40px;
		margin-bottom: 30px;
		font-size: rem(22px);
	}
}
.lazyload,
.lazyloading {
	min-height: 200px;
}
.main-content{
	@media (max-width: grid-width(md)){
		position: static !important;
	}
}