// List of variables

// Colors

$base: #123a8c;
$accent: #e85e00;
$accent-light: #ee7a27;
$base-dark: #112657;
$base-light: #5f71a7;
$dark: #202c3e;
$text-gray: #858b9e;
$background: #f3e1ca;
$background-light: #f9f0e5;
$background-gray: #ecf1f3;
$brown: #c7986d;

// Typography

$default-font: "Montserrat", sans-serif;
$header-font: "Open Sans", sans-serif;


// Grid customization

$grid: (
  breakpoints: (
    xs: 0px,
    sm: 768px,
    md: 992px,
    lg: 1170px,
    xl: 1600px
  ),
  columns: 12,
  gap: 15px,
  container: 15px,
  box-sizing: border-box,
  mode: flex
);
