// Footer

.site-footer{
	background-color: $dark;
}
.footer-link{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: rem(14px);
	line-height: 2;
	&:hover{
		color: $background-gray;
	}
}
.footer-call{
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	color: $accent;
	font-size: rem(15px);
	line-height: 2;
	text-decoration: underline;
	@media (max-width: grid-width(md)) {
		visibility: hidden;
	}
}
.footer-top{
	position: relative;
	padding-bottom: rem(60px);
	@include grid-row();
	@media (max-width: grid-width(sm)) {
		padding-bottom: rem(20px);
	}
	&__col{
		margin-top: rem(45px);
		@include grid-col(6 (1 of 3) (1 of 5) 2);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: grid-width(md)) {
			margin-top: rem(20px);
		}
		@media (max-width: 400px) {
			width: 100%;
			align-items: center;
		}
		&:nth-of-type(4){
			@media (max-width: grid-width(sm)) {
				visibility: hidden;
				display: none;
			}
		}
		&:nth-of-type(5){
			@media (max-width: grid-width(sm)) {
				visibility: hidden;
				display: none;
			}
		}
	}
	&__logo{
		@include grid-col(12 (2 of 3) (1 of 5) 4);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-top: rem(45px);
		@media (max-width: grid-width(md)) {
			flex-direction: row;
			order: 1;
			margin-top: 10px;
		}
		@media (max-width: grid-width(sm)) {
			visibility: hidden;
			display: none;
		}
		img{
			display: block;
			margin-bottom: 10px;
			width: rem(53px);
			@media (max-width: grid-width(md)) {
				margin-bottom: 0;
			}
		}
		span{
			padding-top: 10px;
			display: block;
			text-align: center;
			line-height: 1.2 !important;
			font-size:  rem(13px) !important;
			max-width: 160px;
		}
	}
	span{
		display: block;
		color: #fff;
		text-decoration: none;
		font-size: rem(14px);
		line-height: 2;
	}
	&:after{
		content: '';
		position: absolute;
		display: flex;
		height: 1px;
		bottom: 0;
		left: 15px;
		right: 15px;
		background-color: #fff;
	}
}
.footer-down{
	@include grid-row();
	margin-top: rem(45px);
	margin-bottom: rem(25px);
	@media (max-width: grid-width(md)) {
		margin-top: rem(15px);
		margin-bottom: rem(30px);
	}
	div{
		@include grid-col(6 6 6);
		font-size: rem(14px);
		color: #fff;
		line-height: 2;
		@media (max-width: 400px) {
			width: 100%;
			text-align: center;
		}
		&:last-of-type{
			text-align: right;
			@media (max-width: grid-width(md)) {
				text-align: left;
			}
			@media (max-width: 400px) {
				text-align: center;
			}
		}
		a{
			display: inline-block;
			color: $accent;
		}
	}
}
.messengers{
	margin-top: rem(20px);
	display: flex;
	justify-content: center;
	align-items: center;
	&__item{
		margin-right: 12px;
		&:hover{
			opacity: .7;
		}
		img{
			width: 33px;
			height: auto;
		}
		&:last-of-type{
			margin-right: 0;
		}
	}
}
