.page-content {
	p {
		font-size: 14px;
	  line-height: 1.71;
	  color: #c0c0c0;
	  margin-bottom: rem(30px);
	}
	h3 {
		font-size: 14px;
	  line-height: 1.71;
	  color: $white;
	}
	ul {
		list-style: none;
		padding-left: rem(35px);
		border-left: 1px solid $accent-light;
		line-height: 1.71;
		color: #c0c0c0;
	  margin-bottom: rem(30px);
	}
	aside {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		p {
			margin-left: rem(30px);
			font-family: $italic-font;
			font-size: rem(24px);
		  font-weight: normal;
		  font-style: italic;
		  font-stretch: normal;
		  line-height: 1.67;
		  letter-spacing: normal;
		  text-align: left;
		  color: $accent-light;
		  padding-bottom: rem(30px);
		  border-bottom: 1px solid $accent-light;
			@media (max-width: grid-width(lg)-1) {
				font-size: 16px;
				margin-left: 0;
			}
		}
	}
}
.content-row {
	@include grid-row();
}
.content-col-50 {
	@include grid-col(12 12 12 6 6 6);
}