.site-header {
	border-bottom: 1px solid $gray;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	background-color: transparent;
	width: 100%;
}
.navbar-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0;
	@media (max-width: grid-width(lg)-1) {
		padding: 10px 0;
	}
	a {
		&:hover {
			color: $accent;
		}
	}
}
.navbar-brand {
	display: flex;
	align-items: center;
	font-family: $header-font;
	font-size: 24px;
	font-weight: 700;
	@media (max-width: grid-width(lg)-1) {
		font-size: 16px;
	}
	&__icon {
		width: 24px;
		height: 24px;
		background-image: url('../img/logotype.svg');
		background-size: cover;
		@media (max-width: grid-width(lg)-1) {
			width: 16px;
			height: 16px;
		}
	}
	&__text {
		margin-left: 5px;
		padding-bottom: 3px;
		color: $white;
		b {
			color: $accent;
		}		
	}
}
.top-nav {
	display: flex;
	align-items: center;
	@media (max-width: grid-width(lg)-1) {
		background-color: $base;
		padding-top: 100px;
		box-shadow: 0 16px 24px 0 rgba(230, 204, 119, 0.43);
	}
}
.main-menu {
	list-style: none;
	display: flex;
	@media (max-width: grid-width(lg)-1) {
		flex-direction: column;
	}
	&__item {
		margin-right: rem(44px);
		@media (max-width: grid-width(lg)-1) {
			margin-left: 54px;
			margin-right: 54px;
			padding: 15px 0;
			border-bottom: 1px solid $gray;
			&:last-of-type {
				border-bottom: none;
			}
		}
	}
	&__link{
		display: block;
		color: $white;
		font-weight: bold;
		text-decoration: none;
		@media (max-width: grid-width(lg)-1) {
			font-size: 24px;
			line-height: 1.17;
		}
	}
	&__btn {
		display: none;
		width: 32px;
		height: 32px;
		background-image: url('../img/menu.svg');
		cursor: pointer;
		@media (max-width: grid-width(lg)-1) {
			display: block;
		}
	}
}
.socials-menu {
	display: flex;
	margin-left: 54px;
	margin-right: 54px;
	padding: 15px 0;
	margin-top: 23px;
	a {
		margin-right: 10px;
	}
}
.user-log {
	display: flex;
	align-items: center;
	@media (max-width: grid-width(lg)-1) {
		display: none;
	}
	a {
		display: block;
		font-weight: bold;
		color: $white;
		text-decoration: none;
	}
	&__signup {
		padding-right: rem(12px);
		border-right: 1px solid $gray;
	}
	&__reg {
		padding-left: rem(12px);
	}
}

@media (max-width: grid-width(lg)-1){
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 271px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}
.slideout-open .slideout-panel-container {
  overflow: hidden;
}
.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}
.slideout-close-btn{
	display: block;
	border: 0;
	outline: 0;
	position: relative;
	left: 271px;
	top: 0;
	padding: 8px;
	display: block;
	background-color: $base;
	z-index: 1000;
	position: fixed;
	cursor: pointer;
	span{
		display: block;
		width: 32px;
		height: 32px;
		background-image: url('../img/menu-close.svg');
		background-size: cover;
	}
	&:hover span{
		opacity: .7;
	}	
}
}