.soc-link {
	display: block;
	width: rem(32px);
	height: rem(32px);
	background-size: cover;
}
.soc-youtube {
	background-image: url('../img/youtube.svg');
}
.soc-instagram {
	background-image: url('../img/instagram.svg');
}
.soc-facebook {
	background-image: url('../img/facebook.svg');
}