.scroll-anim {
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  10% {
  opacity: 1;
  }
  100% {
  transform: translateY(20px);
  opacity: 0.01;
  }
}