html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	// font-size: calc(#{$minimum-size}px + (#{$maximum-size} - #{$minimum-size}) * ((100vw - #{$minimum-viewport}px) / (#{$maximum-viewport} - #{$minimum-viewport})));
}
*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
::placeholder {
	color: $white;
	font-family: $default-font;
}
::selection {
	background-color: $accent;
	color: #fff;
}
img::selection {
  color: #fff;
  background: transparent;
}
body {
	width: 100%;
	height: 100%;
	position: relative;
	min-width: 320px;
	font-family: $default-font;
	font-size: rem(14px);
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: normal;
	overflow-x: hidden;
	color: $text-dark;
	background-color: $base;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:visited {
  	color: $white;
  }
}
button::active {
	outline: none;
	border: none;
}
[type="button"] {
	cursor: pointer;
}
button {
	background-color: transparent;
	border: 0;
	outline: 0;
}
img {
	color: transparent;
}
svg {
	fill: currentColor;
}

// Layout

.page-wrapper {
	display: flex;
 	position: relative;
	flex-direction: column;
	min-height: 100vh;
}
.page-content {
	flex: 1 0 auto;
}
.site-footer {
	flex: 0 0 auto;
}
.container {
	@include grid-container(xl, xl);
}
.section-desc {
	font-family: $header-font;
	font-weight: bold;
	font-size: rem(24px);
	text-align: center;
	color: $accent-light;
	@media (max-width: grid-width(lg)-1) {
		font-size: 16px;
		margin-top: 15px;
	}
}
.page-wrapper {
	background-image: url('../img/decor-2.png');
	background-repeat: no-repeat;
	background-position: 70% 105.99%;
	@media (max-width: grid-width(lg)-1) {
		background-image: none;
	}
}
.page-header {
	margin-top: rem(22px);
	margin-bottom: 0;
	text-align: left !important;
	@media (max-width: grid-width(lg)-1) {
		font-size: 40px !important;
	}
	@media (max-width: grid-width(smd)-1) {
		font-size: 24px !important;
	}
}