// Colors

$base: #322A22;
$accent: #D7A63D;
$accent-light: #E6CC77;
$text-dark: #3A3939;
$text-gray: #8E8E8E;
$text-light: #A6A6A6;
$white: #ffffff;
$red: #CC0000;
$gray: #707070;

// Typography

$default-font: "Trebuchet MS", sans-serif;
$header-font: "Playfair Display", sans-serif;
$italic-font: "PT Serif Italic", sans-serif;

// Font-size adaptive setup

$maximum-viewport: 1920; 
$minimum-viewport: 320; 
$maximum-size: 16;
$minimum-size: 14;
